.landing-header
  %section.heading
    .container
      .row.py-lg-3
        .col-lg-6.col-sm-12.pr-0
          %h1 Polska Platforma Otwartej Nauki
          %p.intro-text
            Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych
            oraz narzędzi do prowadzenia badań naukowych
          = render "services/search",
          categories: @siblings || @root_categories,
          query_params: @query_params || {}
%section.research-activity
  .container
    .row
      .col-md-4.col-sm-12
        = image_tag "eoscpl-pic-01.jpg", alt: "Service name", class: "img-fluid"
      .col-md-8.col-sm-12
        .eoscpl-intro.right-intro
          .eoscpl-intro-title
            Zasoby Polskie
          .eoscpl-intro-desc
            Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
            prowadzenia badań naukowych. wobiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
            prowadzenia badań naukowych. wiarygodnych informacji naukowych oraz narzędzi do
          %a.eoscpl-more-link{ href: "#" }
            Przeglądaj zasoby Polskie
            %i.fas.fa-arrow-right.ml-2

        .eoscpl-intro.right-intro
          .eoscpl-intro-title
            Zasoby Unii Europejskiej
          .eoscpl-intro-desc
            Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
            prowadzenia badań naukowych. wobiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
            prowadzenia badań naukowych. wiarygodnych informacji naukowych oraz narzędzi do
          %a.eoscpl-more-link{ href: "#" }
            Przeglądaj zasoby UE
            %i.fas.fa-arrow-right.ml-2

%section.partners
  .container
    %h3 Dowiedz się więcej o naszych partnerach
    .row
      .col-md-4.col-sm-12
        .partners-pic
          = image_tag "eoscpl-news-01.jpg", alt: "Service name", class: "img-fluid"
        .partners-title Aktualności
        .partners-desc
          Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
          prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji
          naukowych oraz narzędzi do prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych,
          wiarygodnych informacji naukowych oraz narzędzi do prowadzenia badań
        %a.partners-link{ href: "#" }
          Sprawdź
          %i.fa.fa-arrow-right

      .col-md-4.col-sm-12
        .partners-pic
          = image_tag "eoscpl-news-02.jpg", alt: "Service name", class: "img-fluid"
        .partners-title Aktualności
        .partners-desc
          Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
          prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji
          naukowych oraz narzędzi do prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych,
          wiarygodnych informacji naukowych oraz narzędzi do prowadzenia badań
        %a.partners-link{ href: "#" }
          Sprawdź
          %i.fa.fa-arrow-right

      .col-md-4.col-sm-12
        .partners-pic
          = image_tag "eoscpl-news-03.jpg", alt: "Service name", class: "img-fluid"
        .partners-title Aktualności
        .partners-desc
          Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
          prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji
          naukowych oraz narzędzi do prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych,
          wiarygodnych informacji naukowych oraz narzędzi do prowadzenia badań
        %a.partners-link{ href: "#" }
          Sprawdź
          %i.fa.fa-arrow-right

%section.open-science
  .container
    %h3 Polska Platforma Otwartej Nauki
    .row
      .col-md-8.col-sm-12
        .openscience-intro.top-intro
          .openscience-container
            .openscience-intro-title
              Polskie zasoby
            .openscience-intro-desc
              Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
          %a.openscience-more-link{ href: "#" }
            Sprawdź
            %i.fas.fa-arrow-right.ml-2

        .openscience-intro.middle-intro
          .openscience-container
            .openscience-intro-title
              Polskie zasoby
            .openscience-intro-desc
              Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
          %a.openscience-more-link{ href: "#" }
            Sprawdź
            %i.fas.fa-arrow-right.ml-2

        .openscience-intro.bottom-intro
          .openscience-container
            .openscience-intro-title
              Polskie zasoby
            .openscience-intro-desc
              Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
          %a.openscience-more-link{ href: "#" }
            Sprawdź
            %i.fas.fa-arrow-right.ml-2

      .col-md-4.col-sm-12
        = image_tag "eoscpl-pic-02.jpg", alt: "Service name", class: "img-fluid"

%section.programme
  .container
    .row
      .col-md-3.col-sm-12
        %h4
          EOSC
          %br
          National Polish Programme
      .col-md-6.col-sm-12
        %p
          Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do
          prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych, wiarygodnych informacji
          naukowych oraz narzędzi do prowadzenia badań naukowych. Uzyskaj dostęp do milionów obiektów badawczych,
          wiarygodnych informacji naukowych oraz narzędzi do prowadzenia badań naukowych. Uzyskaj dostęp do milionów
          obiektów badawczych, wiarygodnych informacji naukowych oraz narzędzi do prowadzenia badań naukowych.
      .col-md-3.col-sm-12.d-flex
        %a.programme-link{ href: "#" }
          Przeglądaj wszystkie zasoby
          %i.fa.fa-arrow-right

-# Here should be = render_sections("use-cases") - below is a placeholder
%section.research
  .container
    %h3 Popularne serwisy
    .row
      - @services.each do |service|
        .col-md-3.col-sm-12.d-flex.align-items-stretch
          .popular-services-box.card
            .popular-top
              - if service.logo.attached?
                = image_tag service.logo.variant(resize: "100x80")
              - else
                = image_tag "eosc-img.png", alt: "Service name"
              .badge.access-information.fa-pull-right.badge-right{ class: "style_#{order_type(service)}" }
                %i{ class: "ordertype #{order_type(service)}" }
                -# TODO: refactor dynamic translation
                = t("offers.type.#{order_type(service)}")
            %a.popular-title{ href: service_offers_path(service) }= service.name
            %a.popular-provider{ href: services_path(providers: service.resource_organisation.id) }
              = service.resource_organisation.name
            .popular-description{ data_toggle: "tooltip", title: service.description }
              = service.description.truncate(72)
            - if service.tag_list.present?
              .taglist-holder
                - service.tags.each do |tag|
                  .tag-item
                    = link_to tag, services_path(tag: tag.name)
